/* Global */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #0f1432;
    font-family: Mate, 'Times New Roman', Times, serif;
    color: #e7f7fe;
}

p {
    margin-bottom: 0.8rem;
}

ul {
    padding-left: 0;
}

a {
    color: #a6dff8;
    text-decoration: none;
}

.row {
    --bs-gutter-x: 0;
}


/* Header */

header {
    width: 100%;
    margin: 2.5rem 0 2rem 0;
}

h1 {
    margin: 0.8rem 0;
    padding: 1.2rem;
    font-family: 'Seaweed Script', 'Times New Roman', Times, serif;
    font-size: 4.2rem;
    /* font-style: italic; */
    text-align: center;
}

/* Navbar */

#nav-tabs {
    width: 80%;
    margin: auto;
    border-color: #dcf0f9;
}

#nav-tabs:hover {
    border-top: none;
    border-left: none;
    border-right: none;
}

/* .nav-item {
    background-color: #19214e;
} */

.nav-link {
    padding: 0.9rem 0;
    --bs-nav-link-color: #a6dff8;
    font-family: Cinzel, 'Times New Roman', Times, serif;
    font-size: 1.6rem;
    transition-property: color, background-color, border-bottom;
}

.nav-link:hover {
    background-color: #19214e;
    --bs-nav-link-hover-color: #d6f1fd;
    border: none;
}

.active {
    --bs-nav-tabs-link-active-bg: #dcf0f9;
}

/* Panels */

.panel {
    /* margin: 0 0.6rem; */
    padding: 3.2rem;
    background-color: #19214e;
}

#sidebar {
    background-color: #0f1432;
}

.side-panel {
    margin-right: 3rem;
    padding: 3.2rem;
    background-color: #19214e;
}

/* Intro */

#intro-row {
    margin-bottom: 3rem;
}

/* Articles */

.post-title {
    font-size: 2.15rem;
}

.title-link {
    color: #e7f7fe;
}

.entry-date {
    margin: 0.7rem 0;
    font-size: 1.25rem;
    color: #abd0e1;
    font-style: italic;
}

.edit-date {
    font-size: 1rem;
}

.type {
    font-family: Cinzel, 'Times New Roman', Times, serif;
    font-size: 1.05rem;
    font-style: normal;
    text-transform: capitalize;
}

.content {
    margin: 1rem 0;
    font-size: 1.1rem;
    line-height: 1.8rem;
    letter-spacing: 0.6px;
}

.description {
    font-family: Merriweather, 'Times New Roman', Times, serif;
    font-size: 0.9rem;
    color: #8dd1f1;
    /* font-style: italic; */
    letter-spacing: 0.05rem;
}

.tag {
    margin-top: 1.2rem;
    font-size: 1.05rem;
    color: #abd0e1;
    font-style: italic;
    letter-spacing: 0.05rem;
}

hr {
    margin: 2.2rem 0;
}

.short-separator {
    width: 15%;
    margin: auto;
}

/* Bookshelves */

.bookshelf {
    margin-bottom: 3%;
}

#book-tile-1 {
    padding: 0 2% 0 0;
}

#book-tile-2 {
    padding: 0 1%;
}

#book-tile-3 {
    padding: 0 0 0 2%;
}

.book-panel {
    display: inline-block;
    width: 100%;
    margin: auto;
    padding: 7%;
    background-color: #a6cdde;
}

.book-title {
    padding: 0.9rem 0;
}


/* Sidebar */

.side-list {
    font-size: 1.2rem;
    list-style-type: none;
}


/* Footer */

#footer-row {
    padding: 1.6rem 0;
}
